<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav-static" class="site-nav-static">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a class="masthead__signature" href="#about-me" target="_self">MONA YANG</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" target="_self">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item masthead__language-toggle" aria-label="Language toggle">
            <a class="is-active" href="#lang-en" data-language-choice="en" target="_self">EN</a>
            <a href="#lang-zh" data-language-choice="zh" target="_self">中文</a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
