<script src="assets/js/main.min.js?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
<script>
  window.SITE_CONFIG = {
    repository: "{{ site.repository }}",
    googleScholarStatsUseCdn: {{ site.google_scholar_stats_use_cdn | default: true | jsonify }}
  };
</script>
<script src="assets/js/scholar-publications.js?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>
<script src="assets/js/research-globe.js?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>
<script src="assets/js/research-interests.js?v={{ site.time | date: '%s' | uri_escape }}"></script>
