<script src="{{ '/assets/js/main.min.js' | relative_url }}?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>

{% include analytics.html %}
{% if page.permalink == "/" %}
  {% include fetch_google_scholar_stats.html %}
  <script>
    window.SITE_CONFIG = {
      repository: "{{ site.repository }}",
      googleScholarStatsUseCdn: {{ site.google_scholar_stats_use_cdn | default: true | jsonify }}
    };
  </script>
  <script src="{{ '/assets/js/scholar-publications.js' | relative_url }}?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>
  <script src="{{ '/assets/js/research-globe.js' | relative_url }}?v={{ site.github.build_revision | default: site.time | uri_escape }}"></script>
  <script src="{{ '/assets/js/home-panels.js' | relative_url }}?v={{ site.time | date: '%s' | uri_escape }}"></script>
  <script src="{{ '/assets/js/language-toggle.js' | relative_url }}?v={{ site.time | date: '%s' | uri_escape }}"></script>
{% endif %}
